@model BTLVinamilk.Models.SUA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding-left:400px;padding-right:400px">
    <br/>
    <br/>
    <h2>Chi tiết sữa</h2>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            @Html.DisplayNameFor(model => model.DMSUA.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMSUA.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            <strong>Ảnh</strong>
               

            </dt>
        <dd>
            @{
                string ImagePath = "~/wwwroot/images/" + Model.AnhBia;
            }
            <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>
</div>
<strong>
    @Html.ActionLink("◄Back to List", "Index")
</strong>
