@model BTLVinamilk.Models.SUA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="font-size:25px;padding-left:200px">
    <h2 style="font-weight:bold">Bạn có chắc chắn xóa?</h2>
    <h4>SUA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DMSUA.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMSUA.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            <strong>Ảnh</strong>


        </dt>
        <dd>
            @{
                string ImagePath = "~/wwwroot/images/" + Model.AnhBia;
            }
            <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd style="margin-right:700px">
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <button type="button" class="btn btn-default">@Html.ActionLink("Hủy", "Index") </button>

        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}